<header class="stricy-top" style="width: 600px;">
  <nav class="navbar navbar-expand navbar-dark bg-dark text-white">
    <div class="logo">HabitTracker</div>
    <nav>
      <ul class="nav navbar-nav flex-row">
        <li>
          <% if @is_create_habit_page %>
            <a class="nav-link disabled-link" href="#"><i class="fas fa-plus disabled"></i></a>
          <% else %>
            <%= link_to new_habit_path do %><i class="fas fa-plus"></i><% end %>
          <% end %>
        <li>
        <li>
          <% if @minus %>
            <a class="nav-link disabled-link" href="#"><i class="fas fa-minus disabled"></i></a>
          <% else %>
            <%= link_to root_path(minus: true) do %><i class="fas fa-minus"></i><% end %>
          <% end %>
        <li>
        <li>
          <% if @is_top_page %>
            <a class="nav-link disabled-link" href="#"><i class="fas fa-home disabled"></i></a>
          <% else %>
            <%= link_to root_path do %><i class="fas fa-home"></i><% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </nav>
</header>