<table class="table">
  <thead>
    <tr>
      <th>Habit</th>
      <th>Duration</th>
      <th>Delete</th>
    </tr>
  </thread>
  <tr>
  <% @habits.each do |habit| %>
  <tr>
    <td>
      <%= link_to habit.name, habit %>
    </td>
    <td>
      <%= render partial: 'habits/progress', locals: { habit: habit } %>
    </td>
    <td>
      <%= button_to habit_path(habit), method: :delete, data: { confirm: "Are you sure you want to delete this habit?" }, class: 'btn btn-secondary' do %>
        Delete
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
