<div class="container">
  <% @habits.each_slice(5) do |habit_group| %>
    <div class="row">
      <% habit_group.each do |habit| %>
        <div class="col-md-2" style="width: 200px; height: 200px;">
          <%= render partial: 'habits/progress', locals: { habit: habit } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

